*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, li {
  font-family: Roboto, sans-serif;
  font-size: 17px;
}

i {
  font-size: 18px;
}

button {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
}

h1, h2, h3 {
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

h4, .menu--titre {
  font-family: Shrikhand, sans-serif;
  font-weight: bold;
}

.header {
  width: 300px;
  margin: 15px auto;
}
.header .header--image {
  display: block;
  width: 100%;
}
.header--arrow {
  position: absolute;
  left: 20px;
  top: 35px;
  color: black;
}

.conteneur {
  width: 100%;
  background-color: #f6f6f6;
}

.localite {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px 0 15px 0;
  background-color: rgba(183, 170, 170, 0.5);
}
.localite--icon {
  margin-right: 14px;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 0 20px;
  text-align: center;
  width: 100%;
  padding: 60px 0 60px 0;
  background-color: rgba(183, 170, 170, 0.2);
}
.reservation--titre {
  margin-bottom: 20px;
}
.reservation--texte {
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.reservation--btn {
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  color: white;
  padding: 13px 15px 13px 15px;
  border-radius: 25px;
  transition: opacity 0.3s, box-shadow 0.3s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.reservation--btn:hover {
  opacity: 0.85;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  padding: 40px 20px 40px 20px;
}
.fonctionnement--liste {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
}
.fonctionnement--titre {
  margin-bottom: 20px;
}
.fonctionnement--choix {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  padding: 20px 0 20px 25px;
  margin-bottom: 20px;
  position: relative;
  font-weight: bold;
  background-color: rgba(183, 170, 170, 0.2);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in;
}
.fonctionnement--choix i {
  color: black;
  transition: color 0.3s ease-in;
}
.fonctionnement--choix:hover {
  background-color: #e4d5f6;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.fonctionnement--choix:hover i {
  color: #9356DC;
}
.fonctionnement--choix::before {
  content: "1";
  width: 25px;
  display: block;
  text-align: center;
  position: absolute;
  left: -10px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  padding: 6px;
  background-color: #9356DC;
  color: white;
}
.fonctionnement--choix.list::before {
  content: "2";
}
.fonctionnement--choix.store::before {
  content: "3";
}
.fonctionnement--icon {
  margin-right: 20px;
  margin-left: 15px;
}

.restaurant {
  background-color: rgba(183, 170, 170, 0.2);
  display: flex;
  flex-direction: column;
  padding: 40px 20px 40px 20px;
  width: 100%;
}
.restaurant--groupe {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
  max-width: 700px;
}
.restaurant--article {
  width: 100%;
  max-width: 900px;
  position: relative;
  margin-bottom: 25px;
}
.restaurant--image {
  height: 220px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant--nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #217460;
  background-color: #99E2D0;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  text-transform: capitalize;
}
.restaurant--footer {
  background-color: white;
  position: relative;
  padding: 20px 17px 15px 17px;
  margin-top: -3px;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.restaurant--footer .restaurant--icon {
  font-size: 25px;
  position: absolute;
  display: inline-block;
  right: 17px;
}
.restaurant--footer .fa-solid {
  color: transparent;
  background-image: none;
  transition: background-image 0.5s ease-in;
}
.restaurant--footer .fa-solid:hover {
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  cursor: pointer;
}
.restaurant--description h3 {
  margin-bottom: 3px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 15px 0 30px 20px;
  width: 100%;
  background-color: rgb(53, 53, 53);
  color: white;
}
.footer--logo {
  width: 120px;
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: lighter;
}
.footer--navigation ul {
  display: flex;
  flex-direction: column;
}
.footer--navigation .footer--liste {
  list-style: none;
  margin-bottom: 10px;
}
.footer--navigation .footer--liste:nth-child(1), .footer--navigation .footer--liste:nth-child(2) {
  display: flex;
  align-items: center;
}
.footer--navigation .footer--liste:nth-child(1) .footer--icon {
  margin-right: 17px;
}
.footer--navigation .footer--liste .footer--icon {
  margin-right: 10px;
}

.carte {
  width: 100%;
  height: 300px;
}
.carte--image {
  width: 100%;
  height: 100%;
}

.menu {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  position: relative;
  top: -50px;
  padding: 25px 20px 0 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.menu--header {
  display: flex;
  align-items: center;
  position: relative;
}
.menu--header .menu--titre {
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 25px;
}
.menu--header .menu--icon {
  position: absolute;
  right: 20px;
  font-size: 25px;
}
.menu--header .menu--icon.fa-solid {
  color: transparent;
  background-image: none;
  transition: background-image 0.5s ease-in;
}
.menu--header .menu--icon.fa-solid:hover {
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  cursor: pointer;
}

.commande {
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.commande--header {
  padding-top: 20px;
}
.commande--titre {
  text-transform: uppercase;
}
.commande--underline {
  width: 45px;
  height: 4px;
  border: none;
  background-color: #99E2D0;
  margin-top: 5px;
}
.commande--test {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.commande--plat {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 18px 15px 18px 15px;
  transition: width 0.5s ease-in;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.commande--plat:hover {
  width: 88%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.commande--plat:hover .commande--check {
  width: 12%;
}
.commande--plat:hover .commande--check i {
  opacity: 1;
}
.commande--nom {
  font-size: 18px;
}
.commande--footer {
  display: flex;
  justify-content: space-between;
}
.commande--check {
  background-color: #99E2D0;
  width: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: width 0.5s ease-in;
}
.commande--check i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.btn {
  text-align: center;
  padding-bottom: 120px;
}
.btn--commande {
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  color: white;
  padding: 13px 50px 13px 50px;
  border-radius: 25px;
  transition: opacity 0.3s, box-shadow 0.3s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.btn--commande:hover {
  opacity: 0.85;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=style.css.map */
