@import "./libs/variables";
@import "./libs/mixins";
@import "./libs/reset";
@import "./libs/typographie";

// loader spinner
.loader-container{
  position: fixed;
  background: rgba(51,51,51,0.7);
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: -1;
  animation: zindex 2.5s ease-in forwards;
  & .loader{
    position: relative;
    display: block;
    width: 300px;
    height: 300px;
    margin: 250px auto 0;
    border-radius: 50%;
    border: 7px solid transparent;
    border-top-color: $couleur-primaire;
    animation: spin 2.5s ease-in;
    &::before, &::after{
      content: "";
      position: absolute;
      border-radius: 50%;
      border: 7px solid transparent;
    }
    &::before{
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      border-top-color: $couleur-secondaire;
      animation: spin 2s ease-in;
    }
    &::after{
      top: 25px;
      bottom: 25px;
      left: 25px;
      right: 25px;
      border-top-color: $couleur-tertiaire;
      animation: spin 1.5s ease-in;
    }
  }
}

.header{
  width: 300px;
  margin: 15px auto;

  & .header--image{
    display: block;
    width: 100%;
  }
  &--arrow{
    position: absolute;
    left: 20px;
    top: 35px;
    color: black
  }
}

// page principale
.conteneur{
  width: 100%;
  background-color: #f6f6f6;

}

.localite{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  @include paddingTopBottom(15px, 15px);
  @include grisOpacite(0.5);

  &--icon{
    margin-right: 14px;
  }
}

// rubrique "réservation"

.reservation{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 0 20px;
  text-align: center;
  width: 100%;
  @include paddingTopBottom(60px,60px);
  @include grisOpacite(0.2);

  &--titre{
    margin-bottom: 20px;
  }

  &--texte{
    margin-bottom: 20px;
    padding-right: 20px;;
    padding-left: 20px;;
  }

  &--btn{
    background: linear-gradient(180deg, $couleur-secondaire, $couleur-primaire);
    color: white;
    padding: 13px 15px 13px 15px;
    border-radius: 25px;
    transition: opacity .3s, box-shadow .3s;
    @include boxShadow();

    &:hover{
      opacity: 0.85;
      @include boxShadowHover();
    }
  }
}

// rubrique "fonctionnement"
.fonctionnement{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 20px 40px 20px;
  
  &--liste{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
  }
  &--titre{
    margin-bottom: 20px;
  }
  &--choix{
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    padding: 20px 0 20px 25px;
    margin-bottom: 20px;
    position: relative;
    font-weight: bold;
    @include grisOpacite(0.2);
    @include boxShadow();
    transition: background-color .3s ease-in,
                box-shadow .3s ease-in;
    & i{
      color: black;
      transition: color .3s ease-in;
    }
    &:hover{
      background-color: lighten($couleur-primaire, 30%);
      cursor: pointer;
      @include boxShadowHover();
      & i{
        color: $couleur-primaire
      }
    }
  }
  &--choix::before{
    content: "1";
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: -15px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    padding: 6px;
    background-color: $couleur-primaire;
    color: white
  }
  &--choix.list::before{
    content: "2";
  }
  &--choix.store::before{
    content: "3";
  }
  &--icon{
    margin-right: 20px;
    margin-left: 15px;
  }
}

// rubrique "restaurant"
.restaurant{
  @include grisOpacite(0.2);
  display: flex;
  flex-direction: column;
  padding: 40px 20px 40px 20px;
  width: 100%;

  &--groupe{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
  }

  &--article{
    width: 100%;
    // max-width: 900px;
    position: relative;
    margin-bottom: 25px;
  }

  &--image{
    height: 220px;
    width: 100%;
    object-fit: cover;
    @include borderRadiusTop;
  }

  &--nouveau{
    position: absolute;
    top: 15px;
    right: 15px;
    color: darken($couleur-tertiaire, 45%);
    background-color: $couleur-tertiaire;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-transform: capitalize;
    
  }

  &--footer{
    background-color: white;
    position: relative;
    padding: 20px 17px 15px 17px;
    margin-top: -3px;
    display: flex;
    align-items: center;
    @include borderRadiusBottom;

     & .restaurant--icon{
      font-size: 25px;
      position: absolute;
      display: inline-block;
      right: 17px;
     }

     & .fa-solid{
       @include coeurTransparent;
       &:hover{
        @include coeurApparition;
      }
     }
  }

  &--description h3{
    margin-bottom: 3px;
  }
}

// footer de la page
.footer{
  display: flex;
  flex-direction: column;
  padding: 15px 20px 30px 20px;
  width: 100%;
  background-color: rgb(53, 53, 53);
  color: white;
  &--logo{
    width: 120px;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: lighter;
  }

  &--navigation ul{
    display: flex;
    flex-direction: column;
  }

  &--navigation &--liste{
    list-style: none;
    margin-bottom: 10px;
    &:nth-child(1), 
    &:nth-child(2){
      display: flex;
      align-items: center;
    }

    &:last-child a{
      color: white
    }

    &:last-child:hover{
      text-decoration: underline;
    }

    &:nth-child(1) .footer--icon{
      margin-right: 17px;
    }

    & .footer--icon{
      margin-right: 10px;
    }
  }
}

// menu à la carte

.carte {
  width: 100%;
  height: 300px;
  &--image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.menu{
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  position: relative;
  top: -40px;
  padding: 25px 20px 0 20px;
  @include borderRadiusTop(30px, 30px);
  &--header{
    display: flex;
    align-items: center;
    position: relative;
    & .menu--titre{
      letter-spacing: 1px;
      font-weight: lighter;
      font-size: 25px;
    }
    & .menu--icon{
      position: absolute;
      right: 20px;
      font-size: 25px;
      &.fa-solid{
        @include coeurTransparent;
        &:hover, &:focus{
          @include coeurApparition;
        }
      }
    }
  }
}

.commande{
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: menuOpacite 2s ease-in-out forwards;
  opacity: 0;
  &:nth-child(2){
    animation-delay: .3s;
  }
  &:nth-child(3){
    animation-delay: .5s;
  }

  &:nth-child(4){
    animation-delay: .8s;
  }
  
  &--header{
    padding-top: 20px;
  }
  &--titre{
    text-transform: uppercase;
  }
  &--underline{
    width: 45px;
    height: 4px;
    border: none;
    background-color: $couleur-tertiaire;
    margin-top: 5px;
  }
  &--plat{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 18px 15px 18px 15px;
    position: relative;
    cursor: pointer;
    @include boxShadow;

    &:hover .commande--check, &:focus .commande--check{
      min-width: 70px;
      opacity: 1;
      & i{
        transform: rotate(360deg);
        opacity: 1;
      }
    }

    &:hover .commande--footer, &:focus .commande--footer{
      padding-right: 65px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &--check{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    min-width: 0;
    opacity: 0;
    background-color: $couleur-tertiaire;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: opacity, min-width, .5s ease-in-out;

    & i{
      color: white;
      font-size: 20px;
      transform: rotate(0deg);
      transition: transform .5s ease-in-out;
      opacity: 0;
    }
  }

  &--nom{
    font-size: 18px;
    @include overflow;
  }
  &--footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: padding .5s ease-in-out;
    padding-right: 0;
  }
  &--description{
    @include overflow;
  }
}

.btn{
  text-align: center;
  padding-bottom: 120px;
  &--commande{
    background: linear-gradient(180deg, $couleur-secondaire, $couleur-primaire);
    color: white;
    padding: 13px 50px 13px 50px;
    border-radius: 25px;
    transition: opacity .3s, box-shadow .3s;
    @include boxShadow();

    &:hover, &:focus{
      opacity: 0.85;
      @include boxShadowHover();
    }
  }
}

// liste des keyframes

@keyframes menuOpacite {
  0% {
    opacity: 0;
    transform: translateY(300%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes zindex {
  0% {
    z-index: 2;
    opacity: 1;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}

// mise en formepour tablette et téléphone

@media only screen and (min-width: map-get($breakPoints, "mobile")){
  .fonctionnement--liste{
    flex-direction: row;
    align-items: center;
    gap: 20px;
    & .fonctionnement--choix{
      justify-content: center;
      height: 100px;
      width: 33%;
      word-wrap: break-word;
      padding: 0;
      &::before{
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      & i{
        margin-left: 0;
      }
    }
  }

  .restaurant--groupe{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    & .restaurant--article{
      width: 50%;
      &:nth-child(2), &:nth-child(4){
        padding-left: 20px;
      }
    }
  }
}

@media only screen and (min-width: map-get($breakPoints, "tablette")){
  .commande-groupee{
    width: 100%;
    display: flex;
    align-items: flex-start;
    & .commande{
      width: 33%;
      padding: 0 20px 0 20px;
    }
  }
}